#! /bin/bash

#################### HACKADROID ######################
# Project - Hackadroid
# access any android devices remotely               
# Author: Ashish Singh (ashishsingh103020@gmail.com)
# Date: 25 Dec 2020
# Copyright (c) 2020
######################################################

## PLEASE DON'T COPY 
